@charset "UTF-8";

/* anchors ******************************************************************/

a:link {
  text-decoration: initial;
  color: inherit;
}

/* visited link */
a:visited {
  text-decoration: initial;
  color: inherit;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
  color: inherit;
}

/* selected link */
a:active {
  text-decoration: underline;
  color: inherit;
}

/* headings layouts *********************************************************/

.head {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
  text-align: center;
}

.error {
  margin-top: 1em;
}

/* button layouts ***********************************************************/

.buttons {
  padding-bottom: 1em;
/*  border-bottom: 1px solid black; */
  margin: 1em 0;
}

.button {
  padding: 0.25em 0.5em;
  border: 1px solid black;
  margin-right: 1em;
}

/* status layouts ***********************************************************/

.stage {
  padding-bottom: 0.75em;
}

.roles-head {
  height: 36ex;
  overflow-y: auto;
  padding: 1em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.role {
  margin: 0.5em 0.5em;
  padding: 0.25em 0.25em;
}

.roles {
  display: none;
  border-left: 2em solid white;
}

.roles:target {
  display: block;
}

.atoms-head {
}

.atoms-table {
  border-spacing: 0.25em;
}

.atoms {
  overflow-x: auto;
  border-bottom: 0.5em solid white;
}

.atom {
  padding: 0.25em 0.25em;
}

.count {
}

.selected {
  border: 1pt solid;
}

/* colors *******************************************************************/

.role-color {
  color: darkviolet;
}

.object-color {
  color: deepskyblue;
}

.name-color {
  color: seagreen;
}

.error-color {
  color: red;
}
